<md-grid-list rowHeight="25rem" cols="6" rows="2">
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
  <md-grid-tile>
      <md-card>Test</md-card>
  </md-grid-tile>
</md-grid-list>